body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:1569px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:878px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:14px;
  top:29px;
  width:1569px;
  height:878px;
}
#u44 {
  position:absolute;
  left:2px;
  top:431px;
  width:1565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:14px;
  top:29px;
  width:1569px;
  height:64px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:1565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:1435px;
  top:45px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u49 {
  position:absolute;
  left:1475px;
  top:29px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u51 {
  position:absolute;
  left:327px;
  top:29px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F7F7F7;
  text-align:left;
}
#u52 {
  position:absolute;
  left:28px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u53 {
  position:absolute;
  left:116px;
  top:47px;
  width:221px;
  height:28px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
}
#u55 {
  position:absolute;
  left:68px;
  top:47px;
  width:38px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:763px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u57 {
  position:absolute;
  left:56px;
  top:105px;
  width:1504px;
  height:763px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u58 {
  position:absolute;
  left:16px;
  top:16px;
  width:1472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:43px;
  top:126px;
  width:63px;
  height:40px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u63 {
  position:absolute;
  left:872px;
  top:868px;
  width:97px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u64 {
  position:absolute;
  left:4px;
  top:8px;
  width:93px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u65 {
  position:absolute;
  left:860px;
  top:881px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u68 {
  position:absolute;
  left:794px;
  top:868px;
  width:69px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u71 {
  position:absolute;
  left:116px;
  top:126px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u72 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u73 {
  position:absolute;
  left:117px;
  top:126px;
  width:264px;
  height:130px;
}
#u74 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u75 {
  position:absolute;
  left:140px;
  top:251px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u77 {
  position:absolute;
  left:329px;
  top:266px;
  width:31px;
  height:31px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u80 {
  position:absolute;
  left:448px;
  top:126px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u81 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u82 {
  position:absolute;
  left:449px;
  top:126px;
  width:264px;
  height:130px;
}
#u83 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u84 {
  position:absolute;
  left:472px;
  top:251px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u86 {
  position:absolute;
  left:661px;
  top:266px;
  width:31px;
  height:31px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u89 {
  position:absolute;
  left:780px;
  top:126px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u90 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u91 {
  position:absolute;
  left:781px;
  top:126px;
  width:264px;
  height:130px;
}
#u92 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u93 {
  position:absolute;
  left:804px;
  top:251px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u95 {
  position:absolute;
  left:993px;
  top:266px;
  width:31px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u98 {
  position:absolute;
  left:1112px;
  top:126px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u99 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u100 {
  position:absolute;
  left:1113px;
  top:126px;
  width:264px;
  height:130px;
}
#u101 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u102 {
  position:absolute;
  left:1136px;
  top:251px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u103 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u104 {
  position:absolute;
  left:1325px;
  top:266px;
  width:31px;
  height:31px;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u107 {
  position:absolute;
  left:116px;
  top:638px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u108 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u109 {
  position:absolute;
  left:117px;
  top:638px;
  width:264px;
  height:130px;
}
#u110 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u111 {
  position:absolute;
  left:140px;
  top:763px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u112 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u113 {
  position:absolute;
  left:329px;
  top:778px;
  width:31px;
  height:31px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u116 {
  position:absolute;
  left:116px;
  top:339px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u117 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u118 {
  position:absolute;
  left:117px;
  top:339px;
  width:264px;
  height:130px;
}
#u119 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u120 {
  position:absolute;
  left:140px;
  top:464px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u121 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u122 {
  position:absolute;
  left:329px;
  top:479px;
  width:31px;
  height:31px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:43px;
  top:638px;
  width:63px;
  height:40px;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:116px;
  top:339px;
  width:266px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u128 {
  position:absolute;
  left:448px;
  top:638px;
  width:266px;
  height:180px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u129 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:130px;
}
#u130 {
  position:absolute;
  left:449px;
  top:638px;
  width:264px;
  height:130px;
}
#u131 {
  position:absolute;
  left:2px;
  top:57px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u132 {
  position:absolute;
  left:472px;
  top:763px;
  width:240px;
  height:44px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u133 {
  position:absolute;
  left:0px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u134 {
  position:absolute;
  left:661px;
  top:778px;
  width:31px;
  height:31px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
